header{
    display: flex;
    width: 100%;
    height: 100%;
    
    padding-bottom: 20px;
}




.q_commerce_brand{
    display:flex;
    width:100%;
    height: 100%;
    padding: 10px 0px 0px 10px;

    h1{
        display: flex;
        height: 50%;
        font-family: 'Roboto', serif;
        font-size: 40px;
        margin-top: 10px;
        font-weight: 600;
        text-transform: capitalize;
        color: #353532;
    }
}
// 
.q_commerce_logo {
    display:flex;
    width: 20%;
    height: 20%;
    background-color: none;
    filter: invert(17%) sepia(11%) saturate(222%) hue-rotate(21deg) brightness(96%) contrast(88%);
}



@media screen and (max-width: 465px){
    
}